
<body class= body-dark>
<div class="container justify-content-center">
  <div class="row">
    <div class="col-sm">
        <h1 class="display-4""><strong>Data Encryption made<span class="gradient-text"> simplified</span></strong></h1>
        <div class="p-4">
        <h6> An educational platform for making data protection & security terms easy asp-condition simplfiied - ranging from ciphers, symmetrical and asymmetrical algorithm types. </h6>
        <div class="d-grid gap-2 d-md-block "">
            <a href="/Cipher/Details/3" class="btn" style="background-color: #7f4ccd; color: #ffffff" role="button">Show me the best</a>
            <a href="/Cipher/Guide" class="btn btn-dark" role="button">Guide</a>
        </div>
        <hr class="solid">
        <h6>Check out the currently available algorithms</h6>
        <a href="/Cipher/Index" class="btn" style="background-color: #7f4ccd; color: #ffffff" role="button"><i class="bi bi-arrow-right-square"></i></a>
        </div>
    </div>
    <div class="col-sm">
      <img src="https://i.imgur.com/CoSsxDE.png" height="350px">
    </div>
  </div>
</div>
</body>


  


