
<body>
  <div class="row">
    <div class="col-sm">
      <h1 class="display-4""><strong>Data Encryption made<span class="gradient-text"> simplified</span></strong></h1>
      <div class="p-4">
        <h6> An educational platform for making data protection & security terms easy asp-condition simplfiied - ranging from ciphers, symmetrical and asymmetrical algorithm types. </h6>
        <div class="d-grid gap-2 d-md-block">
            <a href="/Cipher/Details/3" class="btn btn-purple"  role="button">Show me the best</a>
            <a href="/Cipher/Guide" class="btn btn-dark" role="button">Guide</a>
            <a href="/Cipher/Match" class="btn btn-darkpurple position-relative" role="button">Match-making<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info" style="color: #fff">New!</span></a>
        </div>
        <hr class="solid">
        <a href="/Cipher" class="btn btn-cyan" role="button">Check out the currently available algorithms</a>
      </div>
    </div>
    <div class="col-sm">
      <img src="https://i.imgur.com/CoSsxDE.png" height="350px">
    </div>
  </div>
</div>
<hr class="solid">

<div class="container justify-content-center">
   <div class="row p-4">
    <div class="col-6">
      <a class="twitter-timeline" data-width="400" data-height="400" data-theme="light" href="https://twitter.com/BleepinComputer?ref_src=twsrc%5Etfw">Tweets from BleepingComputer</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-6">
      <h3> <span class="gradient-text">Latest </span>Data Breaches </h3>
      <p>Keeping up to date with the latest news regarding data breaches and security can prepare you for the future!</p>
      <h3>Why <span class="gradient-text">learn</span> cryptography</h3>
      <div class="p-4">
        <p>Teaching cryptography is crucial in our digitally connected world to empower individuals and organizations with the knowledge and tools needed to secure sensitive data, protect online communication, and defend against cyber threats</p>
      </div>
    </div>
  </div>
</div>



</body>


  


