<div class="text-center ">
    <img src="https://i.imgur.com/SU3h8aY.png" style="height: 300px;">

    <h1 class="display-4"><strong>Our <span class="gradient-text">Privacy</span> Agreement </strong></h1>

    <div class="container text-center align-content-center">
        <div class="row">
            <div class="col-3">
                <p class="hidden-text">f</p>
            </div>
            <div class="col-6">
                <p>At CryptLearn, we take your privacy and data security seriously - as we should as a cryptography and data security education platform.</p>
                <p>This Privacy Policy outlines how we collect, use, disclose, and protect your personal information when you use our web application</p>

            </div>
            <div class="col-3">
                <p class="hidden-text">f</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h1>1</h1>
            </div>
            <div class="col-4">
                <h1>2</h1>
            </div>
            <div class="col-4">
                <h1>3</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h5><i class="bi bi-eye"></i> Data Privacy </h5>
                <p>We strive to protect your data. We do not keep or maintain any personal information nor encyrpted and decrypted messages that you may produce whilst interacting with this web application.</p>
            </div>
            <div class="col-4">
                <h5><i class="bi bi-puzzle"></i> Childrens Privacy</h5>
                <p>As an educational tool, CryptLearn is also intended for younger audience. Because of this, we do not knowingly collect personal information from individuals under 13 nor do we store it. The service is publically acessible by anonymous users and therefore doesn't take in user data. </p>
            </div>
            <div class="col-4">
                <h5><i class="bi bi-send"></i> Contact Us</h5>
                <p>If you have reason to believe or have concerns about your data being taken, please get in touch with the developer. Suggestions and bug reports can be done this way aswell </p>
            </div>
        </div>
    </div>
</div>

<hr class="solid">
<div class="text-center">
<p> <i class="bi bi-cone-striped"></i> This application is a prototype masters project </p>

</div>
