html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


hr.solid {
  border-top: 2px solid #a324fe;
}
hr.solid-dark {
  border-top: 2px solid #171717;
}

.gradient-text {
  background-color: rgb(123, 0, 255);
  background-image: linear-gradient(45deg, #7f4ccd, #0bf3ff);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

body.dark{
  background-color: #211d69;
}

.bubble {
  --r: 25px; /* the radius */
  --t: 30px; /* the size of the tail */
  
  max-width: 300px;
  padding: calc(2*var(--r)/3);
  -webkit-mask: 
    radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
      var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
      calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
    radial-gradient(50% 50%,#000 98%,#0000 101%) 
      0 0/var(--r) var(--r) space padding-box;
  background: linear-gradient(135deg,#7f4ccd,#0ddfff) border-box;
  color: #fff;
}

.left {
  --_d: 0%;
  border-left: var(--t) solid #0000;
  margin-right: var(--t);
  place-self: start;
}

.alert-purple { 
  border-color: #7f4ccd; background: #7f4ccd;color: #fff; 
}

.purpleContent{
  height:400px;
  background:#7f4ccd;
  overflow:hidden;
  position:relative;
}

.whiteDiagonal{
  width: 0;
  height:0;
  position:absolute;
  bottom:0px;
  border-bottom: 100px solid white;
  border-left: 100vw solid transparent;
}

.ps {
  font-size: 14px;
}

.btn-purple {
  background-color: #7f4ccd; 
  color: #ffffff;
}

.btn-grad {
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  background-color: #7f4ccd; 
  color: #ffffff;

}



.hidden-text {
  display: none;
}
.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to left, #743ad5, #00DDEB);
}




.container {
  overflow: hidden;
}

.filterDiv {
  float: left;
  border-radius: 10px;
  background-color: #743ad5;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  color: #ffffff;
  width: 80px;
  line-height: 80px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

.show {
  display: block;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
.a-clear{
  color: white;
  text-decoration: none;
}
.a-clear:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

