@model CipherViewModel

<div class="d-flex justify-content-center">
<div class="card" style="width: 40rem;">
    <div class="card-body">
<h5 class ="card-title"> A1Z26 Cipher</h5>
@using (Html.BeginForm("A1ZCipher", "Cipher", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="title"><i class="bi bi-repeat"> Replace</i></span>
                    <button type="submit" class="btn btn-dark btn-sm"><i class="bi bi-play"> Encrypt</i></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-dark" style="color: #ffffff">
                        Text Input
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.InputText, new { @class = "form-control" })
                        </div>   
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header bg-dark" style="color: #ffffff">
                        Text Output
                    </div>
                    <div class="card-body">
                    @if (!string.IsNullOrEmpty(Model.EncryptedText) && !string.IsNullOrEmpty(Model.DecryptedText))
                    {
                        <h6>Encrypted Text: @Model.EncryptedText</h6>
                        <h6>Decrypted Text: @Model.DecryptedText</h6>
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>   
}
</div>
</div>