@model CipherViewModel

@{
    ViewBag.Title = "Testing Ground";
}

<div class="d-flex justify-content-center">
    <div class ="card shadow p-2" style="width: 450px">

        <h2 class="text-center">Algorithm <span class="gradient-text">Testing Ground</span></h2>
        <p class="text-center">Currently available algorhtims can be tested out here - try them out!</p>

        <div class="d-flex justify-content-center p-1">
            <div class="btn-group-vertical m-1 p-1">
                <a class="btn btn-purple btn-sm" asp-action="_Sym" role="button" style="width: 110px">AES</a>
                <a class="btn btn-purple btn-sm" asp-action="_Asym" role="button" style="width: 110px">RSA</a>
                <a class="btn btn-dark btn-sm position-relative" asp-action="_Sym2" role="button" style="width: 110px">Blowfish
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info" style="color: #fff">New!</span>
                </a>
                <a class="btn btn-darkpurple btn-sm" asp-action="_Cipher2" role="button" style="width: 110px">Caesar</a>
                <a class="btn btn-darkpurple btn-sm" asp-action="_Cipher1" role="button" style="width: 110px">A1Z26</a>
                
            </div>
        </div>
        <hr class="solid-dark">

        <div class=" d-flex justify-content-center">
            <p><a href="/Cipher/Index" class="link-dark link-offset-2" style="text-decoration: none"> <i class="bi bi-arrow-90deg-up"></i> Back to selection library</a></p>
        </div>
    </div>
</div>



