<style>
    /* Initially hide the text */
    .hidden-text {
    display: none;
    }
</style>

<div class="d-flex justify-content-center">
    <div class="card shadow text-bg-light w-50 text-center p-2 border-gradient border-gradient-purple">
        <img src="https://i.imgur.com/QNGxd7r.png" class="img-fluid rounded">
        <h2 class="p-1"> Algorithm <span class="gradient-text">Match-Making</span></h2>
        <p>Unsure of what algorithm to use? Let us match you!</p>
        <hr class="solid">
        <p class="ps">Select what traits you'd like in a algorithim</p>
        
        <!-- Control buttons -->
        <div id="myBtnContainer">
            <button class="btn active" onclick="filterSelection('all')"> All</button>
            <button class="btn" onclick="filterSelection('fast')"> <i class="bi bi-lightning-charge"></i> Fast</button>
            <button class="btn" onclick="filterSelection('safe')"> <i class="bi bi-shield-lock"></i> Safe</button>
            <button class="btn" onclick="filterSelection('simple')"> <i class="bi bi-check"></i> Simple</button>
            <button class="btn" onclick="filterSelection('messages')"> <i class="bi bi-envelope"></i> Messages</button>
            <button class="btn" onclick="filterSelection('docs')"> <i class="bi bi-archive"></i> Documents</button>
        </div>

        <!-- The filterable elements. Note that some have multiple class names (this can be used if they belong to multiple categories) -->
        <div class="container">
            <div class="filterDiv fast safe docs"><a class="a-clear" href="/Cipher/Details/3">AES</a></div>
            <div class="filterDiv safe messages docs"><a class="a-clear"href="/Cipher/Details/5">RSA</a></div>
            <div class="filterDiv fast simple messages"><a class="a-clear" href="/Cipher/Details/2">A1Z26</a></div>
            <div class="filterDiv simple messages"><a class="a-clear" href="/Cipher/Details/1">Casear</a></div>
            <div class="filterDiv safe fast docs messages"><a class="a-clear" href="/Cipher/Details/4">Blowfish</a></div>
        </div>
    </div>
 </div>

