


<div class="text-center">
    <h1 class="display-4">Guide</h1>
    <p>Here is a helpful guide about different encryption and algorithm types</p>
</div>

<hr class="solid">

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col-4">
            <div id="sections" class="list-group">
                <a class="list-group-item list-group-item-action" href="#basics">
                    <i class="bi bi-bookmark"></i> Basics
                </a>
                <a class="list-group-item list-group-item-action" href="#ciphers">
                    <i class="bi bi-chat-square-dots"></i> Ciphers
                </a>
                <a class="list-group-item list-group-item-action" href="#symetrical">
                    <i class="bi bi-signpost"></i> Symetrical
                </a>
                <a class="list-group-item list-group-item-action" href="#asymetrical">
                    <i class="bi bi-signpost-split"></i> Asymetrical
                </a>
            </div>
        </div>
        <div class="col-8">
            <div data-bs-spy="scroll" data-bs-target="#sections" data-bs-smooth-scroll="true" class="scrollspy" tabindex="0">
                <h4 id="basics">Basics</h4>
                    <p>This will be a <a href="#" data-bs-toggle="tooltip" data-bs-title="Default tooltip" style="color: #a324fe;">tooltip</a> test!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada fames ac turpis egestas sed tempus urna et. Bibendum at varius vel pharetra vel turpis nunc. Molestie a iaculis at erat pellentesque adipiscing commodo elit. Facilisis mauris sit amet massa vitae tortor condimentum lacinia quis. Faucibus ornare suspendisse sed nisi lacus sed. Ultrices dui sapien eget mi proin. Vel facilisis volutpat est velit egestas dui id ornare arcu. Nunc vel risus commodo viverra maecenas. Aliquam ut porttitor leo a diam sollicitudin..</p>
                <h4 id="ciphers"><i class="fa-regular fa-font-awesome" style="color: #dc3545;"></i> Ciphers</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada fames ac turpis egestas sed tempus urna et. Bibendum at varius vel pharetra vel turpis nunc. Molestie a iaculis at erat pellentesque adipiscing commodo elit. Facilisis mauris sit amet massa vitae tortor condimentum lacinia quis. Faucibus ornare suspendisse sed nisi lacus sed. Ultrices dui sapien eget mi proin. Vel facilisis volutpat est velit egestas dui id ornare arcu. Nunc vel risus commodo viverra maecenas. Aliquam ut porttitor leo a diam sollicitudin.</p>
                <h4 id="symetrical"><i class="fa-regular fa-font-awesome" style="color: #0dcaf0;"></i> Symetrical</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada fames ac turpis egestas sed tempus urna et. Bibendum at varius vel pharetra vel turpis nunc. Molestie a iaculis at erat pellentesque adipiscing commodo elit. Facilisis mauris sit amet massa vitae tortor condimentum lacinia quis. Faucibus ornare suspendisse sed nisi lacus sed. Ultrices dui sapien eget mi proin. Vel facilisis volutpat est velit egestas dui id ornare arcu. Nunc vel risus commodo viverra maecenas. Aliquam ut porttitor leo a diam sollicitudin.</p>
                <h4 id="asymetrical"><i class="fa-regular fa-font-awesome" style="color: #ffc107;"></i> Asymetrical </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada fames ac turpis egestas sed tempus urna et. Bibendum at varius vel pharetra vel turpis nunc. Molestie a iaculis at erat pellentesque adipiscing commodo elit. Facilisis mauris sit amet massa vitae tortor condimentum lacinia quis. Faucibus ornare suspendisse sed nisi lacus sed. Ultrices dui sapien eget mi proin. Vel facilisis volutpat est velit egestas dui id ornare arcu. Nunc vel risus commodo viverra maecenas. Aliquam ut porttitor leo a diam sollicitudin.</p>
                <p><a href="#basics" class="link-dark link-offset-2" style="text-decoration: none"> <i class="bi bi-arrow-90deg-up"></i> Back to top</a></p>
            </div>
        </div>
    </div>
</div>

